@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --color-darkest: #343a40;
  --color-dark: #495057;
  --color-medium: #ced4da;
  --color-light: #f1f3f5;

  --color-theme: #1098ad;
  --color-accent: #ffa94d;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer components {
  .max-container {
    max-width: 1440px;
    margin:  auto;
    padding-top: 20px;

  }
  /* .main-container {
    @apply flex min-h-screen flex-1 flex-col items-center px-6 pb-10 pt-28 max-md:pb-32 sm:px-10;
  } */
    .leftsidebar {
    @apply sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto border-r pb-5 pt-28 max-md:hidden;
  }
  .button{
    @apply border-2 w-[100px] h-10 border-blue-500 hover:bg-blue-400 rounded-md
  }

  .active{
    @apply bg-[#7950f2]
  }
  .small-btn{
    @apply w-fit rounded-md bg-[#495057] px-2 hover:bg-[#222]
  }
  .btn{
    @apply w-fit rounded-md px-2 border-[1px] border-gray-300 py-1 hover:text-blue-500
  }
  .inp{
    @apply pl-2 text-black rounded-lg py-1
  }

}

body {
  color:white;
  background-color: #222;

}
